fastapi[standard]
sqlalchemy    # interagir avec la database
pymysql      # relier database mysql
passlib[bcrypt]     # pr crypter mot de passe
bcrypt
uvicorn[standard]
python-jose[cryptography]
python-multipart